<h2>Our products</h2>

<% @products.each do |p| %>
	
	<div class="product">

		<%= image_tag p.image(:medium) %>

		<h3><%= link_to p.title, product_path(p) %></h3>

		<p><%= p.price_in_pence %></p>

		<p><%= link_to "Read more...", product_path(p) %></p>

		<%# again, using p because it's a loop rather than a single one %>

		<% if basket.include?(p.id) %>
		
			<%= link_to "Remove from basket", product_basket_path(p), method: :delete %>

		<% else %>

			<%= link_to "Add to basket", product_basket_path(p), method: :post %>

		<% end %>


	</div>

<% end %>