<article>

	<%= image_tag @product.image(:large) %>

	<h2><%= @product.title %></h2>

	<%= simple_format @product.description %>

	<p><%= @product.price_in_pence %></p>

	<p>Added <%= time_ago_in_words @product.created_at %> ago</p>


	<% if basket.include?(@product.id) %>
		
		<%= link_to "Remove from basket", product_basket_path(@product), method: :delete %>

	<% else %>

		<%= link_to "Add to basket", product_basket_path(@product), method: :post %>

	<% end %>



</article>











